html, body {
  font-family: 'Oxygen', sans-serif;
  background-image: url("./always_grey.png")
}

button {
  padding: 10px 20px;
  margin: 10px 10px 0px;
  display: block;
  float: right;
  background-color: rgb(50, 50, 50);
  border: 2px outset rgb(50, 50, 50);
  color: rgb(250,250,250);
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

button:focus {
  outline: none;
}

button:hover, button:active {
  background-color: rgb(113, 170, 82);
  color: rgb(250,250,250);
  border: 2px outset rgb(113, 170, 82);
  outline: none;
}

footer {
  height: 50px;
  width: 100%;
  text-align: center;
}

input {
  border: 2px outset rgb(50, 50, 50);
}

a:hover, a:active {
  text-decoration: none;
}

.jumbotron {
  background-color: transparent;
  color: rgb(250,250,250);
}

.footerText {
  padding: 25px;
  color: rgb(250,250,250);
}

.appWrapper {
  margin-bottom: 50px;
}

.personalWrapper {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border: 3px solid rgb(20, 20, 20);
  box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.4);
  margin-bottom: 20px;
  background-color: rgb(221, 221, 221);
}

.personalTitle {
  width: 70%;
  height: calc(1em + 30px);
  outline: none;
  padding-left: 20px;
  display: block;
  float: left;
  word-wrap: break-word;
}

.openPersonalLibrary {
  width: 20%;
  margin: 0% 5%;
  font-size: 1em;
  display: block;
  float: right;
}

.searchWrapper {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border: 3px solid rgb(20, 20, 20);
  box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.4);
  background-color: rgb(221, 221, 221);
}

.searchTitle {
  display: block;
  padding: 20px;
}

.searchInput {
  width: 70%;
  height: calc(1em + 33px);
  outline: none;
  padding-left: 20px;
}

.searchInput:focus, .searchInput:active {
  outline: none;
}
.searchSubmit {
  width: 20%;
  margin: 0% 5%;
  font-size: 1em;
}

.bookWrapper {
  padding: 20px;
  margin: 20px 0px;
  border: 3px solid rgb(20, 20, 20);
  box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.4);
  background-color: rgb(221, 221, 221);
}

.cardHeader, .jumbotron {
  text-align: center;
}

.cardTitle {
  font-family: 'Pacifico', cursive;
}

.cardImg {
  width: 80%;
  height: auto;
  margin: 5% 10%;
}

.cardAuthor {
  display: inline-block;
  padding: 10px 20px;
}

.cardBody {
  height: 80%;
}

.cardBottom {
  height: 20%;
}

.noMatch {
  text-align: center;
  padding: 30px;
  margin: 10px auto;
  color: rgb(250,250,250);
}

.return {
  float: none;
  margin: -70px auto 5px;
  padding: 10px 20px;
  background-color: rgb(250,250,250);
  border: 2px outset rgb(250,250,250);
  color: rgb(40, 40, 40);
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

